@font-face {
    font-family: avenirBlack;
    src: url(../assets/fonts/AvenirLTStd-Black.woff);
}

@font-face {
    font-family: avenirRoman;
    src: url(../assets/fonts/AvenirLTStd-Roman.woff);
}

:root {
    --primary-color: red;
    --primary-background-color: #F9F9F9;
    --secondary-background-color: white;
    --background-highlight-color: #E6E6E6;
    --text-color: black;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "avenirRoman", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--primary-background-color);
    max-width: 100%;
}

:focus {
    outline: none
}



/* Navigation */

header {
    background-color: var(--secondary-background-color);
    height: 10vh;
    border-bottom: 6px solid var(--background-highlight-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

header img {
    margin-left: 30px;
}

header nav {
    height: fit-content;
    margin: auto 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    font-family: "avenirBlack";
    font-size: 25px;
    display: inline-block;
    margin: 0 15px;
    padding-top: 5px;
}

header nav ul li:last-of-type {
    margin-right: 70px;
}

header nav ul li a {
    color: var(--text-color);
    opacity: 0.5;
}

header nav ul li:hover a,
header nav ul li a:hover {
    color: var(--primary-color);
    opacity: 1;
}

#recommendations:target {
    opacity: 1;
}

#profile:target {
    opacity: 1;
}

/* Content */

main {
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-family: "avenirBlack", Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
    color: var(--primary-color);
}

h3 {
    font-family: "avenirBlack", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 0;
    color: var(--primary-color);
}

h4 {
    font-family: "avenirBlack", Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
    color: var(--primary-color);
}

p {
    margin: 0;
    color: var(--text-color);
    font-size: 16px;
}

a {
    text-decoration: none;
}


/* Card */

.card {
    background-color: var(--secondary-background-color);
    width: 325px;
    padding: 20px;
    margin: 15px;
    height: calc(100% - 30px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.102);
    border-bottom: 4px solid var(--secondary-background-color);
    cursor: pointer;
}

.card:hover {
    border-bottom: 4px solid var(--primary-color);
}

.card h4 {
    margin-bottom: 5px;
    line-height: 1;
    word-wrap: break-word;
    hyphens: auto;
}

.card p:first-of-type {
    margin-bottom: 5px;
    font-size: 14px;
}

.card p:last-of-type {
    font-weight: bolder;
}



/* Seperator */

.seperator {
    display: block;
    background-color: var(--secondary-background-color);
    border-top: 6px solid var(--primary-color);
    border-bottom: 6px solid var(--primary-color);
    width: 100vw;
    text-align: center;
    padding: 15px 0;
    margin: 10px 0 10px 0;
    cursor: pointer;
}


section:not(:first-of-type) .seperator {
    margin-top: 100px;
}



/* Toggle cards content */

section.hidden+section .seperator {
    margin-top: 20px;
}

section.hidden .seperator {
    padding-bottom: 5px;
}

section.hidden .seperator p,
section.hidden a {
    position: absolute;
    left: -9999px;
}



/* Error */

.error {
    background-color: var(--secondary-background-color);
    border-bottom: 6px solid var(--background-highlight-color);
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.102);
}

.error:hover {
    border-bottom: 6px solid var(--primary-color);
}

.error h4 {
    text-align: center;
    margin-bottom: 20px;
}

.error p:first-of-type {
    margin-bottom: 5px;
}

.error p:last-of-type {
    margin-bottom: 15px;
}

.error i {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}


/* setup */
.setup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup > section {
    background-color: white;
    /* width: 80%; */
    max-width: 80%;
    height: 80%;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.setup > section > * {
    width: 80%;
    text-align: center;
}

.setup form {
    width: initial;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: flex-start;
    margin: 0 auto;
}

input[type=checkbox],
input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input + label {
    display: inline-block;
    text-align: initial;
    width: 10em;
}

input[type=checkbox] + label::before,
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: red;
    margin-right: 1em;
}


input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
    background-color: blue;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
    font-weight: bolder;
}

.setup div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.setup a:first-child {
    background-color: var(--background-highlight-color);
    color: black;
}

.setup a:only-child,
.setup a {
    display: block;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    color: var(--primary-background-color)
}