@font-face {
    font-family: avenirBlack;
    src: url(../assests/fonts/AvenirLTStd-Black.woff);
}

@font-face {
    font-family: avenirRoman;
    src: url(../assests/fonts/AvenirLTStd-Roman.woff);
}

:root {
    --primary-color: red;
    --background-color: #F9F9F9;
    --background-highlight-color: #E6E6E6;
    --text-color: black;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "avenirRoman", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h4 {
    font-family: "avenirBlack", Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
}