@font-face {
    font-family: avenirBlack;
    src: url(../assests/fonts/AvenirLTStd-Black.woff);
}

@font-face {
    font-family: avenirRoman;
    src: url(../assests/fonts/AvenirLTStd-Roman.woff);
}

:root {
    --primary-color: red;
    --primary-background-color: #F9F9F9;
    --secondary-background-color: white;
    --background-highlight-color: #E6E6E6;
    --text-color: black;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "avenirRoman", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--primary-background-color);
}



/* Navigation */

header {
    background-color: var(--secondary-background-color);
    height: 10vh;
    border-bottom: 6px solid var(--background-highlight-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

header img {
    margin-left: 30px;
}

header nav {
    height: fit-content;
    margin: auto 0;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style: none;
    font-family: "avenirBlack";
    font-size: 25px;
    display: inline-block;
    margin: 0 15px;
    padding-top: 5px;
}

header nav ul li:last-of-type {
    margin-right: 70px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.5;
}

header nav ul li a:hover {
    color: var(--primary-color);
    opacity: 1;
}



/* Content */

main {
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    font-family: "avenirBlack", Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
    color: var(--primary-color);
}

p {
    margin: 0;
    color: var(--text-color);
}




/* Card */

article {
    background-color: var(--secondary-background-color);
    max-width: 350px;
    min-width: 300px;
    padding: 20px;
    margin: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.102);
    border-bottom: 4px solid var(--secondary-background-color);
    cursor: pointer;
}

article:hover {
    border-bottom: 4px solid var(--primary-color);
}

article h4 {
    margin-bottom: 5px;
    line-height: 1;
}

article p:first-of-type {
    margin-bottom: 5px;
}

article p:last-of-type {
    font-weight: bolder;
}